body{
	background-color:#002699;
}
#header{
	border-radius:50% 50% 0% 0%;  
	background-color:#f2f2f2;
	height:15vh;
	width:100%;
	text-align:center;
	margin-bottom:1%;
}

#sign{
	height:100%;
}

#content{
	background-color:#f2f2f2;
	height:80vh;
	overflow:scroll;

}

#footer{
	background-color:#f2f2f2;
	height:5vh;
	margin-top:1%;
	text-align:center;
}

#register_form_block{
	text-align:center;
	margin-right:auto; 
	margin-left:auto;
	width:80%;
}


#registration_form{
	text-align:right;
	margin-left:auto;
	margin-right:auto;
	width:450px;
	padding-right:10%;
}



#login_form{
	text-align:right;
	margin-right:auto; 
	margin-left:auto;
	width:450px;
}

#login_form_block{
	text-align:center;
	margin-right:auto; 
	margin-left:auto;
	width:80%;
	padding-top:15vh;
}


#login_error{
	color:red;
	margin-right:auto;
	margin-left:auto;
}


#birth_date{
	color:red;
}

#activator_form{
	text-align:right;
	margin-right:auto; 
	margin-left:auto;
	width:450px;
}

#activator_form_block{
	text-align:center;
	margin-right:auto; 
	margin-left:auto;
	width:80%;
	padding-top:15vh;
}

.home_page_rooms{
	background-color:#034afc;
	border-bottom:double silver 10px;
	text-align:center;
	margin-bottom:2%
}

.home_page_rooms_study{
	text-shadow:3px 2px 5px #959a9c;
	font-size:200%;
}

.home_page_rooms_table{
	width:50%;	
	min-width:400px;
	margin-right:auto;
	margin-left:auto;
}

.home_page_rooms_table th{
	text-align:left;
	width:70px;
}

.home_page_rooms_table td{
}
